.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.countdown {
  font-size: 200%;
  font-weight: bold;
}

.countdown-second-row {
  font-size: 80%;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  z-index: -2;
  position: absolute;
}

.backgroundImageSVG {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.buildings {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.countdownVerbose {
  font-size: 100%;
  font-weight: bold;
}

.alignLeft {
  padding-left: 10px;
  text-align: left;
}

table {
  border-collapse: collapse;
}


body {
  text-transform: uppercase;
}

.alignRight {
  text-align: right;
}

@font-face {
  font-family: 'futu';
  font-style: normal;
  font-weight: 400;
  src: url('./futu.otf'); /* IE9 Compat Modes */
  src: local('futu.oft'), local('futu.otf'),
       url('./futu.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./futu.otf') format('woff2'), /* Super Modern Browsers */
       url('./futu.otf') format('woff'), /* Modern Browsers */
       url('./futu.otf') format('truetype'), /* Safari, Android, iOS */
       url('./futu.otf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'tondu';
  font-style: normal;
  font-weight: 400;
  src: url('./tondu.ttf'); /* IE9 Compat Modes */
  src: local('./tondu.ttf'), local('./tondu.ttf'),
       url('./tondu.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('./tondu.ttf') format('woff2'), /* Super Modern Browsers */
       url('./tondu.ttf') format('woff'), /* Modern Browsers */
       url('./tondu.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./tondu.ttf') format('svg'); /* Legacy iOS */
}

h1 {
  font-family: tondu;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

p {
  width: 75%;
}

body {
  font-family: 'futu';
  background-color: #221F1F;
}

.loppumiseen {
  font-size: 90%;
}

.infoteksti {
  height: 100vh;
  color: white;
  font-size: 150%;
  text-transform: none;
  font-family: 'tondu';
  font-weight: 100;
  align-self: center;
  word-wrap: break-word;
}
